<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- 引入properties文件 -->
    <properties resource="env/%env%/jdbc.properties"/>

    <!-- 将下划线映射为驼峰 -->
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <setting name="logImpl" value="STDOUT_LOGGING"/>
    </settings>

    <typeAliases>
        <typeAlias type="com.o2o.entity.Shop" alias="Shop"/>
        <typeAlias type="com.o2o.entity.Area" alias="Area" />
        <typeAlias type="com.o2o.entity.PersonInfo" alias="PersonInfo"/>
        <typeAlias type="com.o2o.entity.ShopCategory" alias="ShopCategory" />
        <typeAlias type="com.o2o.entity.UserIdentity" alias="UserIdentity" />
    </typeAliases>
</configuration>