<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.o2o.dao.OrderDao">
    <!-- namespace对应Mapper接口的全限定名 -->

    <insert id="addOrder"
            parameterType="com.o2o.entity.Order"
    >
    INSERT INTO tb_order
    (order_id, buyer_id, shop_id, order_no, total_price, order_status, create_time, last_edit_time)
    VALUES
    (#{orderId}, #{buyer.userId}, #{shop.shopId}, #{orderNo}, #{totalPrice}, #{orderStatus}, #{createTime}, #{lastEditTime})
    </insert>

    <update id="updateOrder" parameterType="com.o2o.entity.Order">
        UPDATE tb_order
        SET total_price = #{totalPrice},
            order_status = #{orderStatus},
            last_edit_time = #{lastEditTime}
        WHERE order_id = #{orderId}
    </update>

    <insert id="addOrderItem" parameterType="com.o2o.entity.OrderItem">
        INSERT INTO tb_order_item
        (order_id, product_id, product_name, unit_price, quantity, total_price, create_time)
        VALUES
        (#{order.orderId}, #{product.productId}, #{product.productName}, #{unitPrice}, #{quantity}, #{totalPrice}, #{createTime})
    </insert>

    <update id="updateOrderItem" parameterType="com.o2o.entity.OrderItem">
        UPDATE tb_order_item
        SET quantity = #{quantity},
            total_price = #{totalPrice}
        WHERE order_item_id = #{orderItemId}
    </update>
</mapper>